
<rm-button width="200px" height="200px" label="Save"></rm-button>
<rm-button borderRadius="50%" [aspectRatio]="1/1" width="200px" mg="5px" border="none" label="Update"></rm-button>

<rm-button mg="10px"  textColor="red" bgColor="Grey" label="Red text"></rm-button>
<rm-button [disabled]="true" [smallSize]="true" pd="15px" label="Delete"></rm-button>
<br/>
<rm-input-box [disabled]="true"  mg="10px" textColor="red" pd="10px" placeHolder="Number Only" [numberOnly]="true"  ></rm-input-box>
<br/>
<rm-input-box mg="10px" width="200px" placeHolder="Only string with 10 characters" [maxLength]="10" ></rm-input-box>
<br/>
<rm-input-box mg="10px" placeHolder="Allow paste false"  [allowPaste]="false" ></rm-input-box>
<br/>
<rm-input-box mg="10px" placeHolder="Number with min:2 and max:12" [numberOnly]="true" [minValue]="2" [maxValue]="12" ></rm-input-box>
<br/>
<rm-card bgColor="yellow" width="100px" height="auto" [aspectRatio]="1/1"></rm-card>
<br/>
<rm-dropdown [data]="dataList" [keyName]="key" [defaultTitle]="defaultTitle" [showCheckBox]="true"
[selectedItem]="selectedItem" (itemSelected)="itemChanged($event)"></rm-dropdown>

